[flake8]
ignore = W293
exclude = 
    .git,
    __pycache__,
    backend\base\products.py,
    backend\base\migrations\*.py,
    backend\backend\settings.py,
    build,
    dist
max-complexity = 10
statistics = True
per-file-ignores =
    # bare except
    backend\base\views.py: E722,
    # imported, but not used
    backend\base\apps.py: 401
