/* Our main title font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


/* Makes space for the Footer Component in App.js*/
main { min-height: 80vh; }

/* Precisely position our logo next to our navbar title */
#website-navbar-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(71, 64, 64);
    letter-spacing: 0.04em;
    vertical-align: -0.1em;
    margin-left: -1.25em;
}

/* Make the font size a little smaller in the Footer Component */
Footer {
    font-size: 12px;
}

/* Add some spacing btw our stars in the Rating Component */
.rating span {
    margin: 0.05rem;
}

/* Add some padding around the price in the Product Component */
.price-space {
    padding-top: 1rem;
}

/* Darken the green `success` colored product titles in the Product Component & CartScreen */
/* Add standardized hieght space for all Product cards. (May need*/
#product-card-title {
    height: 4em;
}

.product-title,
.custom-lime {
    color: #009600;
}

.darkgreen {
    color: darkgreen;
}

/* Fix spacing around Shopping Cart title */
#shopping-cart-title,
#login-title,
#shipping-screen-title,
#payment-screen-title,
#placeorder-screen-title,
#ordersummary-screen-title {
    font-size: 2.4rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#user-profile-title,
#my-orders-title,
#admin-user-list-title,
#admin-product-list-title,
#edit-user-title {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

.admin-title {
    font-weight: 500;
}


#home-screen-latest-title {
    font-size: 1.7rem;
    padding-top: 1.4rem;
    padding-bottom: 1rem;
}

/* Make Username Dropdown Font Bigger / Same Size as CART Font */
#username-nav-dropdown,
#admin-dropdown-menu {
    font-size: 0.80em;
    padding-top: 0.5em;
}

#cart-link-container {
    min-width: fit-content;
}

#continue-shopping-btn {
    font-size: 0.7rem;
}
