
/* Makes space for the Footer Component in App.js*/
main {
    min-height: 80vh;
}

/* Precisely position our logo next to our navbar title */
#website-navbar-title {
    vertical-align: 0.2em;   
}

/*
#navbar-cart-link {
    
}

#navbar-login-link {

}
*/

/* Make the font size a little smaller in the Footer Component */
Footer {
    font-size: 12px;
}

/* Add some spacing btw our stars in the Rating Component */
.rating span {
    margin: 0.05rem;
}

/* Add some padding around the price in the Product component */
.product-card .price-space {
    padding: 1rem 0;
}
