/* Our main title font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


/* Makes space for the Footer Component in App.js*/
main { min-height: 80vh; }

/* Precisely position our logo next to our navbar title */

/* Replaced with SVG
#website-navbar-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(71, 64, 64);
    letter-spacing: 0.04em;
    vertical-align: -0.1em;
    margin-left: -1.25em;
}
*/

#main-logo {
    width: 14rem;
    height: auto;
}

.fw-500 {
    font-weight: 500;
}

.darkgreen {
    color: darkgreen;
}

.custom-lime {
    color: #009600;
}

.category-tag {
    color: #afffaf;
    font-weight: 300;
    letter-spacing: 0.25px;
}

/* Make the font size a little smaller in the Footer Component */
Footer {
    font-size: 12px;
}

#footer-avocado-icon {
    opacity: 0.5;
    height: 15%;
    width: 15%;
}

/* Add some spacing btw our stars in the Rating Component */
.rating span {
    margin: 0.05rem;
}

/* Add some padding around the price in the Product Component */
.price-space {
    padding-top: 0.65rem;
}


/* Darken the green `success` colored product titles in the Product Component & CartScreen */
/* Add standardized hieght space for all Product cards. (May need*/
#product-card-title {
    height: 4em;
}

#product-card-title:hover {
    color: #008600;
}


/* Fix spacing around Shopping Cart title */
#shopping-cart-title,
#login-title,
#shipping-screen-title,
#payment-screen-title,
#placeorder-screen-title,
#ordersummary-screen-title {
    font-size: 2.4rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#user-profile-title,
#my-orders-title,
#admin-user-list-title,
#admin-product-list-title,
#edit-user-title {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

/* Set the font-size of the 'Latest Products' title on the home page */
#home-screen-latest-title {
    font-size: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1rem;
}

/* Make Username + Admin Dropdown Font Bigger / Same Size as CART Font */
#username-nav-dropdown,
#admin-dropdown-menu {
    font-size: 0.80em;
    padding-top: 0.5em;
}

/* Adjust the min-width of the link container around our 'CART' navbar link */
#cart-link-container {
    min-width: fit-content;
}

/* Adjust font-size on cart screen for the 'continue shopping' button */
#continue-shopping-btn {
    font-size: 0.7rem;
}

/* Paginate Component */
.pagination {
    color:rgb(71, 64, 64);
}

/* Carousel Component */
.carousel {
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85), rgba(180, 180, 180, 0.85), rgba(105, 105, 105, 0.85));
    border: none;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
}

.carousel-caption h4 {
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.carousel img {
    display: block;
    height: 300px;
    padding: 15px 10px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.carousel a {
    margin: 0 auto;
}

.carousel-caption h4 {
    font-size: 2vh;
}


@media only screen and (min-width: 1px) { 

    #product-card-title {
        font-size: 2.5vh;
    }
}

@media only screen and (min-width: 576px) { 
    .carousel-caption h4 {
        font-size: 16px;
    }

    #product-card-title {
        font-size: 20px;
    }

    #footer-avocado-icon {
        height: 17%;
        width: 17%;
    }
}


@media only screen and (min-width: 768px) { 
    .carousel-caption h4 {
        font-size: 18px;
    }

    #product-card-title {
        font-size: 16px;
    }
}


@media only screen and (min-width: 992px) { 
    .carousel-caption h4 {
        font-size: 18px;
    }

    #product-card-title {
        font-size: 14px;
    }
}


@media only screen and (min-width: 1200px) { 
    .carousel-caption h4 {
        font-size: 20px;
    }

    #product-card-title {
        font-size: 14px;
    }
}


@media only screen and (min-width: 1400px) { 
    .carousel-caption h4 {
        font-size: 20px;
    }

    #product-card-title {
        font-size: 14px;
    }
}
